pylint
pylint-pydantic
click
numpy
mlflow
nibabel
p_tqdm
pandas
pytest
python-dotenv
scikit_learn
scipy
setuptools
matplotlib
seaborn
torch
torchvision
captum
torchmetrics
kornia
jupyter
fastapi ==0.73.0
pytorch_lightning
starlette
pydantic
scikit-learn
celery
uvicorn==0.17.0
redis
python-multipart
nibabel
pyyaml
user-agents
nibabel
ua-parser
locust